# macOS
.DS_Store
*/.DS_Store

# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Composer
vendor/
composer.lock

# IDEs
.idea/
.vscode/

# Build artifacts
/dist/
/build/

# Env files
.env
.env.local
.ftp-deploy-sync-state.json
